<ion-header no-border>
  <div class="login-header ion-padding" >
    <img class="logo-img"  src="assets/img/noticias.png">
    <ion-title class="titulo-logo">TechMeek</ion-title>
 </div> 
 
</ion-header>


<ion-content>
  <div class="center">
    <div heading-column-lr>
      <h1 big-heading>Registrarse</h1>
    </div>
    
    <ion-label></ion-label>
    <ion-item transparent>
      <img icon-small  src="assets/img/usuario.png" alt="">
      <ion-input [(ngModel)]="name"  placeholder="nombre" name="name" type="text" required></ion-input>
    </ion-item>
      <ion-item transparent>
        <img icon-small  src="assets/img/usuario.png" alt="">
        <ion-input [(ngModel)]="email"  placeholder="e-mail" name="email" type="text" required></ion-input>
      </ion-item>
  
      <ion-item transparent>
        <img icon-small  src="assets/img/candado.png" alt="">
        <ion-input  [(ngModel)]="password" placeholder="Password" name="password" type="password" required></ion-input>
      </ion-item>
     
      <div lineaspace></div>
      <ion-button  (click)="OnSubmitRegister()" class="ion-button-class" color="dark" expand="block" fill="solid" size="large" shape="round">
        Registrarse
      </ion-button>   
    
      <p class="text" routerLink="/login">Ya tengo cuenta</p>  
      
  </div>

</ion-content>
