<app-header titulo="Pc"></app-header>

<ion-content>
    <ion-card *ngFor="let noticias of noticiasPc|async, let i=index" class="i-card">
        <div *ngIf="i<num_noticias" >
          <ion-card-header class="card-header">
           
              <ion-img [src]="noticias.imagen"></ion-img>     
            <ion-card-title>{{noticias.titulo}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{noticias.contenido}}
          </ion-card-content>
          <ion-item color="dark">
            <a [href]="noticias.url">
              <ion-button color="light" fill="clear" shape="round"  class="text">
                Ver mas..
              </ion-button>
            </a>   
          </ion-item>  
        </div>
       
      </ion-card>
      <ion-infinite-scroll threshold="100px" (ionInfinite)="mostrarNoticias($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando noticias...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>

</ion-content>
