.Profile{
    padding: 80px;
   
    img{
        width: 150px;
        height: 150px;
        margin-left: 50px;
        display: block;
        margin-top: 50px;
    }
    ion-item{
        padding: 0;
        
    }
    label{
        margin: auto;
    }
    h3{
        display: block;
       
    }

}
