<app-header titulo="Info"></app-header>

<ion-content>
  <div class="info">
    <img src="assets/img/noticias.png">
    <ion-title class="logo">TechMeek</ion-title>
    <ion-item >
      <ion-label>TechMeek se encuentra actualizado.</ion-label>
    </ion-item>

    <ion-item  lines="none">
      <p>
        La aplicacion TechMeek ha sido creado en base a los proyectos Geek Tech, BuzzFeed, GameScope.
      </p>
    </ion-item>
    <ion-item lines="none">
      <p>© 2020, TechMeek</p>
    </ion-item>
    
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar >
    <p class="version">Version alphaa</p>
  </ion-toolbar>
</ion-footer>
